@model Buildoc.Models.Incidente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Incidente</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Categoria del tipo de incidente</label>
                        <select class="form-control" id="CategoriaTipoIncidente" name="CategoriaTipoIncidente">
                            @foreach (var categoria in Enum.GetValues(typeof(Buildoc.Models.CategoriaEnum)).Cast<Buildoc.Models.CategoriaEnum>())
                            {
                                <option value="@((int)categoria)">@categoria.GetDescription()</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TipoIncidenteId" class="control-label"></label>
                        <select asp-for="TipoIncidenteId" class="form-control" asp-items="ViewBag.TipoIncidenteId" id="tipoIncidenteSelect">
                            <option value="">Seleccione un tipo de incidente</option>
                        </select>
                    </div>
                </div>
            </div>
            @* Campo para mostrar la descripcion del tipo de incidente *@
            <div class="col-md-12" id="descripcionTipoIncidente" style="display:none;">
                <label class="control-label">Descripcion del tipo de incidente</label>
                <textarea class="form-control" id="descripcionTextArea" readonly></textarea>
            </div>
            @* ./Campo para mostrar la descripcion del tipo de incidente *@
            <div class="row">
                <div class=col-md-4>
                    <div class="form-group">
                        <label asp-for="FechaIncidente" class="control-label"></label>
                        <input asp-for="FechaIncidente" type="date" class="form-control" />
                        <span asp-validation-for="FechaIncidente" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="HoraIncidente" class="control-label"></label>
                        <input asp-for="HoraIncidente" type="time" class="form-control" id="horaIncidente" />
                        <span asp-validation-for="HoraIncidente" class="text-danger"></span>
                    </div>
                </div>
                @* checkbox para ocultar la hora *@
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="desconoceHora">
                            Se desconoce la hora del incidente
                        </label>
                        <input class="form-control" type="checkbox" value="" id="desconoceHora">
                        
                    </div>
                </div>
                @* checkbox para ocultar la hora *@
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <p>
                        Con el mayor detalle posible, describa qué causó el incidente, qué estaba haciendo justo antes del
                        incidente y qué hizo después del incidente. Nombre los objetos o sustancias involucrados.
                    </p>
                    <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Sugerencia" class="control-label"></label>
                    <textarea asp-for="Sugerencia" class="form-control"></textarea>
                    <span asp-validation-for="Sugerencia" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoId" class="control-label"></label>
                <select asp-for="ProyectoId" class="form-control" asp-items="ViewBag.ProyectoId"></select>
            </div>
            @* switch para mostrar los campos de afectados *@
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="SwitchAfectados" name="switchAfectados" value="true">
                <label class="form-check-label" for="SwitchAfectados">¿Existen afectados?</label>
            </div>
            @* ./switch para mostrar los campos de afectados *@
            <div id="afectadosContainer" style="display:none;">
                <div class="afectado-group" id="afectadoTemplate" style="display:none;">
                    <h5>Afectado</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Afectado.Cedula" class="control-label"></label>
                                <input name="Afectados[0].Cedula" class="form-control" />
                                <span asp-validation-for="Afectado.Cedula" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Afectado.Nombre" class="control-label"></label>
                                <input name="Afectados[0].Nombre" class="form-control" />
                                <span asp-validation-for="Afectado.Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Afectado.Apellido" class="control-label"></label>
                                <input name="Afectados[0].Apellido" class="form-control" />
                                <span asp-validation-for="Afectado.Apellido" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Afectado.CorreoElectronico" class="control-label"></label>
                        <input name="Afectados[0].CorreoElectronico" class="form-control" />
                        <span asp-validation-for="Afectado.CorreoElectronico" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.GeneroAfectado" class="control-label"></label>
                                <select name="Afectados[0].GeneroAfectado" class="form-control">
                                    <option value="Hombre">Hombre</option>
                                    <option value="Mujer">Mujer</option>
                                </select>
                                <span asp-validation-for="Afectado.GeneroAfectado" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">¿El afectado esta muerto?</label>
                                <select name="Afectados[0].Defuncion" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                                <span asp-validation-for="Afectado.Defuncion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">¿El afectado es un trabajador?</label>
                                <select name="Afectados[0].AsociadaProyecto" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                                <span asp-validation-for="Afectado.AsociadaProyecto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>¿Se brindaron primeros auxilios?</label>
                                <select name="Afectados[0].PrimerosAuxilios" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                                <span asp-validation-for="Afectado.PrimerosAuxilios"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>¿Tuvieron que hospitalizar al afectado?</label>
                                <select name="Afectados[0].Hospitalizado" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                                <span asp-validation-for="Afectado.Hospitalizado"></span>
                            </div>
                        </div>
                    </div>

                    <h4>Descripcion de lesiones</h4>
                    <p>Naturaleza de la lesion, seleccione todas las que se aplican</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.AbrasionRasgunos"></label>
                                <select name="Afectados[0].AbrasionRasgunos" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                                <span asp-validation-for="Afectado.AbrasionRasgunos"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.Amputacion"></label>
                                <select name="Afectados[0].Amputacion" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.HuesosRotos"></label>
                                <select name="Afectados[0].HuesosRotos" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.Moreton"></label>
                                <select name="Afectados[0].Moreton" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.QuemaduraCalor"></label>
                                <select name="Afectados[0].QuemaduraCalor" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.QuemadurasQuimicas"></label>
                                <select name="Afectados[0].QuemadurasQuimicas" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.ConmocionCerebral"></label>
                                <select name="Afectados[0].ConmocionCerebral" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.LesionAplastamiento"></label>
                                <select name="Afectados[0].LesionAplastamiento" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.CorteLaceracionPerforacion"></label>
                                <select name="Afectados[0].CorteLaceracionPerforacion" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.Hernia"></label>
                                <select name="Afectados[0].Hernia" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Afectado.EsguinceTension"></label>
                                <select name="Afectados[0].EsguinceTension" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Afectado.ActividadRealizada" class="control-label"></label>
                        <textarea name="Afectados[0].ActividadRealizada" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Afectado.ActividadRealizada" class="text-danger"></span>
                    </div>
                    <button type="button" class="btn btn-danger remove-afectado">Eliminar</button>
                </div>
                <button type="button" class="btn btn-secondary" id="addAfectadoButton">Añadir Afectado</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



}

