@model UsuarioViewModel

@{
    ViewData["Title"] = "Create";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#rol").change(function () {
                var selectedRole = $(this).val();
                if (selectedRole === "49232564-b506-4675-bb5d-731c1e8c05f6" || selectedRole === "madre") {
                    $("#jardin").show();
                    $("label[for='jardin']").show();
                } else {
                    $("#jardin").hide();
                    $("label[for='jardin']").hide();
                }
            });

            // Trigger change event on page load to ensure correct initial state
            $("#rol").change();
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div class="row justify-content-center">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" required />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" required />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Cedula" class="control-label"></label>
                        <input asp-for="Cedula" class="form-control" required />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" required />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FechaNacimiento" class="control-label"></label>
                        <input asp-for="FechaNacimiento" class="form-control" required />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="departamentos-municipios-container" class="row">
                <!-- Contenedor para los selects de departamentos y municipios -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departamentos">Departamento</label>
                        <select id="departamentos" class="form-control" name="Departamento" required>
                            <option value="">Seleccione un departamento</option>
                            @* Los departamentos serán cargados dinámicamente *@
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="municipios">Municipio</label>
                        <select id="municipios" class="form-control" name="Municipio" required disabled>
                            <option value="">Seleccione un municipio</option>
                            @* Los municipios serán cargados dinámicamente según el departamento seleccionado *@
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" required />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Eps" class="control-label"></label>
                        <input asp-for="Eps" class="form-control" required />
                        <span asp-validation-for="Eps" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Arl" class="control-label"></label>
                        <input asp-for="Arl" class="form-control" required />
                        <span asp-validation-for="Arl" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Role" class="control-label">Role</label>
                        <select asp-for="Role" class="form-control" id="rol" required>
                            <option value="Trabajador">Trabajador</option>
                            <option value="Coordinador">Coordinador</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Profesion" class="control-label"></label>
                        <input asp-for="Profesion" class="form-control" required />
                        <span asp-validation-for="Profesion" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
