@model Buildoc.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Usuario</h1>

<h3>¿Está seguro que desea deshabilitar este usuario?</h3>
<div class="container">
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <!-- Agregar más propiedades según sea necesario -->
    </dl>
    <div class="text-center mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button> |
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

</div>